section {
  position: relative;
  top: 60px;
}
nav {
    font-family: 'Marck Script', cursive;
    font-size: 2rem;
}
#hello {
    font-size: 7rem;
    font-family: 'Marck Script', cursive;
    color: blanchedalmond;
}
#about {
  background-color: #685d79;
}
#projects {
    background-color: #475c7a;
}
.slider {
    width: 75%;
    margin: auto;
}
.lnk {
    color: #222222 ;
}
.lnk:hover {
    text-decoration: none;
    color: blanchedalmond;
}

@media screen and (min-width: 640px) {
  #contact-div {
    position: relative;
  }

  #contact {
    position: absolute;
    bottom: 25%;
  }
}